* {
  box-sizing: border-box;
}

/*background-color: #2E4057 (blue); 
background-color: #EE583F (orange);
background-color: #F7B3CC (rose);
background-color: #C7B65E (gold);
background-color: #FFF7EE (white);
color: #131C26;
color: #C1CFD6;
font: 900 30px Arial, sans-serif; (title large)
font: 900 25px Arial, sans-serif; (title)
font: 15px Comfortaa, sans-serif; (Subtitle)
font: 20px Calibri, sans-serif; (Body Large)
font: 900 16px Calibri, sans-serif; (Body Strong)
font: 16px Calibri, sans-serif; (Body)
font: 900 11px Arial, sans-serif; (Captions)
*/
body{
  color: #131C26;
  background-color: #FFF7EE;
  font: 16px Calibri, sans-serif;
  padding: 0px;
  margin: 0px;
}

header, footer, #Footer{
  background-color: #2E4057;
}

header{
  border-radius: 0px 0px 8px 8px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 8px;
}

.Logo-and-Title{
  display: flex;
  align-items: center;
}

header>nav{
  background-color: #EE583F;
}

#hamburger{
  cursor: pointer;
}

#hamburger-links{
  display: none;
  position:absolute;
  left: 0px;
  list-style: none;
  text-align: left;
  padding: 0px;
  margin:9px 0px 0px 0px;
  background-color: #C7B65E;
  border: 1px solid #2E4057;
  border-radius: 0px 0px 8px 8px;
}

#hamburger-links a{
  text-decoration: none;
  color: #131C26;
  text-align: left;
  font: 900 20px Arial, sans-serif
}

#hamburger-links li{
  padding: 8px;
  border-bottom: 1px solid #2E4057;
}

#hamburger-links :last-child{
  border-bottom: none;
}

#Logo{
  height: 26px;
  margin-right: 6px;
}

h1{
  font: 900 20px Arial, sans-serif;
  text-wrap: nowrap;
  color: #C1CFD6;
  margin: 0px;
  line-height: 25px;
}

#User{
  cursor: pointer;
}

h2{
  font: 900 25px Arial, sans-serif;
  text-align: center;
  border: 2px double #F7B3CC;
  border-radius: 8px;
  margin: 4px;
  padding: 16px;
}

input, textarea{
  border-radius: 16px;
  border-style: none;
  padding: 6px 8px;
  font: 16px Calibri, sans-serif;
}

button{
  border-radius: 8px;
  color: #131C26;
  border-style: none;
  font: 900 16px Calibri, sans-serif;
  text-align: center;
}

#searchbar{
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  background-color: #EE583F;
}

#searchbar>input, #Newsletter>input{
  flex:1 1 auto;
}

input:placeholder-shown, textarea:placeholder-shown{
  font-style: italic;
}

#Sign-Up{
  cursor: pointer;
}

button#MyCart-btn {
  background-color: inherit;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

#MyCart{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
}

#MyCart-Box{
  background-color: #FFF7EE;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

#Cart-header{
  display: flex;
  align-content: center;
  justify-content: center;
}

#YourCart{
  font: 900 16px Calibri, sans-serif;
  flex: 1 1 auto;
  margin: 0px;
}

#x-cart{
  color: #2E4057;
  background-color: #C1CFD6;
  font-size: 20px;
  border-radius: 16px;
  text-align: center;
}

#Cart-header #x-cart-button{
  background-color: transparent;
  padding: 0px;
}

#Items{
  padding: 10px;
  border: 1px solid #EE583F;
  border-radius: 8px;
}

#Items li{
  font: 16px Calibri, sans-serif;
  list-style:none;
}

#MyCart-Box button{
  background-color:#2E4057;
  color:#C1CFD6;
  padding: 8px;
  cursor: pointer;
}

#full-menu{
  display: none;
}

@media all and (min-width:480px){
  #full-menu{
    padding: 8px;
    display: flex;
    font: 20px Calibri, sans-serif;
  }

  Nav a{
    text-decoration: none;
    color:#131C26;
    padding: 0px 8px;
  }

  #hamburger, .hamburger-menu{
    display: none;
  }

  .Categories{
    flex-wrap: nowrap !important;
  }

  #placeholder-1{
    display: flex;
    flex: auto;
  }

  #searchbar{
    flex: auto;
    background-color: #2E4057;
  }

  #Footer>.Social{
    justify-content: space-evenly;
  }

  #Gallery .Gallery-Box{
    width: 22%;
  }
}

.banner{
  display: flex;
  margin: 4px;
  flex-direction: column;
  align-items: center;
  border: 4px double #F7B3CC;
  border-radius: 8px;
  background-color: #FFF7EE;
}

.banner>img{
  width: 239px;
  margin: 8px 0px 0px 0px;
}

.banner>h3{
  padding: 8px;
  border-radius: 8px;
  margin: 8px 0px 8px;
  background-color: #C7B65E;
}

.banner p{
  width: 80%;
  margin: 0px 0px 8px;
}

img{
  border-radius: 8px;
}

h3{
  font: 20px Calibri, sans-serif;
  text-align: center;
  margin-top: 0px;
}

h4{
  font: 900 16px Calibri, sans-serif;
  margin-top: -4px;
  margin-bottom: 8px;
}

h5{
  font: 900 16px Calibri, sans-serif;
  margin: 4px;
}

#Contact-Us{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Contact-Fields{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#Contact{
  background-color: #2E4057;
  color: #C1CFD6;
  margin-top: 6px;
  width: 25%;
  align-self: center;
}

label{
  margin: 4px;
}

.Box{
  background-color: #FFF7EE;
  border-radius: 8px;
  display: flex;
  flex: 1 1 auto;
  flex-direction:column;
  align-items: center;
  padding: 16px;
}

#Gallery{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Gallery-Box{
  width: 46%;
  margin: 4px 4px 12px 4px;
  display: flex;
  flex-direction: column;
  border: 2px solid #F7B3CC;
  border-radius: 4px;
}

.Gallery-Box>img{
  width: 100%;
}

.Gallery-Box .Title{
  text-align: center;
  margin: 0px;
  height: 40px;
  align-content: center;
}

.Gallery-Box p{
  font: 15px Comfortaa, sans-serif;
  margin: 0px;
  padding: 4px;
}

.review{
  text-align: center;
}

.Category-Picture{
  width: 100%;
}

.Categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font: 15px Comfortaa, sans-serif;
}

.Category{
  width: 45%;
}

.Category{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #F7B3CC;
  border-radius: 8px;
  margin: 4px;
}

.Category>p{
  margin: 0px;
  padding: 8px;
}

.Store-Hours{
  text-align: center;
  margin: 16px;
}

.Box input{
  border: 2px solid #2E4057;
}

textarea{
  border: 2px solid #2E4057;
}

#Feedback{
  height: 8em;
}

.add-to-cart{
  border: 2px solid #2E4057;
  background-color: #FFF7EE;
  width: 50%;
  margin: 6px;
  align-self: center;
  cursor: pointer;
}

.banner .add-to-cart{
  width: auto;
  margin-bottom: 8px;
}

#Main-Events{
  display: flex;
  flex-direction: column;
}

.Month{
  margin-bottom: 4px;
  align-self: center;
  width: 66%;
  text-align: center;
  padding: 8px;
  font-weight: 900;
  background-color: #C7B65E;
  border-radius: 8px;
}

.Event{
  display: block;
  margin: 2px 8px;
  border: 2px double #2E4057;
}

.Event-2{
  display: block;
  margin: 2px 8px;
  border: 2px double #F7B3CC;
}

#Newsletter{
  display: flex;
  background-color:#C7B65E;
  padding: 8px;
  border-radius: 8px;
}

#Newsletter button{
  margin-left: 8px;
}

footer{
  border-radius: 8px 8px 0px 0px;
}

#Footer{
  color:#C1CFD6;
  padding-left: 32px;
  padding-right: 32px;
}

.Social>h3{
  margin: 8px;
}

.Social{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C1CFD6;
}

.Social-Icons{
  margin: 0px 8px 0px 0px;
}

.Social-Icons span{
  padding-left: 16px;
}

.links{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font: 900 11px Arial, sans-serif
}

.links-1{
  display:flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.links-1 a{
  text-decoration: none;
  color:#C1CFD6
}

.links-2{
  display:flex;
  justify-content: space-around;
  margin-bottom: 8px;
}


.links-1 a, .links-2 a, .Social-Icons span{
  cursor: pointer;
}