* {
  box-sizing: border-box;
}

/*background-color: #2E4057 (blue); 
background-color: #EE583F (orange);
background-color: #F78B3CC (rose);
background-color: #C7B65E (gold);
background-color: #FFF7EE (white);
color: #131C26;
color: #C1CFD6;
font: 900 30px Arial, sans-serif; (title large)
font: 900 25px Arial, sans-serif; (title)
font: 15px Comfortaa, sans-serif; (Subtitle)
font: 20px Calibri, sans-serif; (Body Large)
font: 900 16px Calibri, sans-serif; (Body Strong)
font: 16px Calibri, sans-serif; (Body)
font: 900 11px Arial, sans-serif; (Captions)
*/
body{
  color: #131C26;
}

header, #Footer{
  background-color: #2E4057;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 8px;
  font-size: 24px;
}

header>nav{
  background-color: #EE583F;
}

.header-icon{
  height: 30px;
  margin: 0px 0px 0px 8px;
}

h1{
  font: 900 20px Arial, sans-serif;
  text-wrap: nowrap;
  color: #C1CFD6;
  margin: 0px;
  line-height: 25px;
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px 8px 8px;
}

.empty{
  width: 70px;
}

.searchbar>input{
  flex:1 1 auto;
  border-radius: 16px;
  border-style: none;
  padding: 6px 8px;
  font: 900 11px Arial, sans-serif;
  font-style: italic;
}

Nav{
  display: none;
}

@media all and (min-width:480px){
  Nav{
    padding: 8px;
    display: flex;
    font: 20px Calibri, sans-serif;
  }

  Nav>a{
    text-decoration: none;
    color:#131C26;
    padding: 0px 8px;
  }
}
.Category-Picture{
  width: 160px;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner>img{
  width: 239px;
}

.Box{
  background-color: #FFF7EE;
  border-radius: 8px;
  padding: 4px 0px 8px 8px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.Category{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Category>p{
  margin: 0px;
}

#Footer{
  color:#C1CFD6;
}