* {
  box-sizing: border-box;
}

/*background-color: #2E4057 (blue); 
background-color: #EE583F (orange);
background-color: #F7B3CC (rose);
background-color: #C7B65E (gold);
background-color: #FFF7EE (white);
color: #131C26;
color: #C1CFD6;
font: 900 30px Arial, sans-serif; (title large)
font: 900 25px Arial, sans-serif; (title)
font: 15px Comfortaa, sans-serif; (Subtitle)
font: 20px Calibri, sans-serif; (Body Large)
font: 900 16px Calibri, sans-serif; (Body Strong)
font: 16px Calibri, sans-serif; (Body)
font: 900 11px Arial, sans-serif; (Captions)
*/
body{
  color: #131C26;
  font: 16px Calibri, sans-serif;
  padding: 0px;
  margin: 0px;
}

header, footer, #Footer{
  background-color: #2E4057;
}

header{
  border-radius: 0px 0px 8px 8px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 8px;
}

.Logo-and-Title{
  display: flex;
  align-items: center;
}

header>nav{
  background-color: #EE583F;
}

#hamburger-links{
  display: none;
  position:absolute;
  left: 0px;
  list-style: none;
  text-align: left;
  padding: 0px;
  margin:9px 0px 0px 0px;
  background-color: #C7B65E;
  border: 1px solid #2E4057;
  border-radius: 0px 0px 8px 8px;
}

#hamburger-links a{
  text-decoration: none;
  color: #131C26;
  text-align: left;
  font: 900 20px Arial, sans-serif
}

#hamburger-links li{
  padding: 8px;
  border-bottom: 1px solid #2E4057;
}

#hamburger-links :last-child{
  border-bottom: none;
}

#Logo{
  height: 26px;
  margin-right: 6px;
}

h1{
  font: 900 20px Arial, sans-serif;
  text-wrap: nowrap;
  color: #C1CFD6;
  margin: 0px;
  line-height: 25px;
}

h2{
  font: 900 25px Arial, sans-serif;
  text-align: center;
  border: 2px double #F7B3CC;
  border-radius: 8px;
  margin: 4px;
  padding: 16px;
}

input, textarea{
  border-radius: 16px;
  border-style: none;
  padding: 6px 8px;
  font: 16px Calibri, sans-serif;
}

button{
  border-radius: 8px;
  color: #131C26;
  border-style: none;
  font: 900 16px Calibri, sans-serif;
  text-align: center;
}

#searchbar{
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  background-color: #EE583F;
}

#searchbar>input, .Newsletter>input{
  flex:1 1 auto;
}

input:placeholder-shown, textarea:placeholder-shown{
  font-style: italic;
}

#Cart{
  margin-left: 8px;
}


#full-menu{
  display: none;
}

@media all and (min-width:480px){
  #full-menu{
    padding: 8px;
    display: flex;
    font: 20px Calibri, sans-serif;
  }

  Nav a{
    text-decoration: none;
    color:#131C26;
    padding: 0px 8px;
  }

  #hamburger, .hamburger-menu{
    display: none;
  }

  .Categories{
    flex-wrap: nowrap !important;
  }

  #placeholder-1{
    display: flex;
    flex: auto;
  }

  #searchbar{
    flex: auto;
    background-color: #2E4057;
  }

  #Footer>.Social{
    justify-content: space-evenly;
  }
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px double #F7B3CC;
  border-radius: 8px;
  background-color: #FFF7EE;
}

.banner>img{
  width: 239px;
  margin: 8px 0px 0px 0px;
}

.banner>h3{
  padding: 8px;
  border-radius: 8px;
  margin-top: 4px;
  background-color: #C7B65E;
}

img{
  border-radius: 8px;
}

h3{
  font: 20px Calibri, sans-serif;
  text-align: center;
  margin-top: 0px;
}

h4{
  font: 900 16px Calibri, sans-serif;
  margin-top: -4px;
  margin-bottom: 8px;
}

h5{
  font: 900 16px Calibri, sans-serif;
  margin: 4px;
}

#Contact-Us{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Contact-Fields{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label{
  margin: 4px;
}

.Box{
  background-color: #FFF7EE;
  border-radius: 8px;
  display: flex;
  flex: 1 1 auto;
  flex-direction:column;
  align-items: center;
  padding: 16px;
}

#Gallery{
  flex-direction: row;
  flex-wrap: wrap;
}

.Gallery-Box{
  width: 46%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  border: 2px solid #F7B3CC;
  border-radius: 4px;
}

.Gallery-Box>img{
  width: 100%;
}

.Gallery-Box .Title{
  text-align: center;
  margin: 4px;
}

.Gallery-Box p{
  font: 15px Comfortaa, sans-serif;
  margin: 0px;
}

.review{
  text-align: center;
}

.Category-Picture{
  width: 100%;
}

.Categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font: 15px Comfortaa, sans-serif;
}

.Category{
  width: 45%;
}

.Category{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #F7B3CC;
  border-radius: 8px;
  margin: 4px;
}

.Category>p{
  margin: 0px;
  padding: 8px;
}

.Store-Hours{
  text-align: center;
  margin: 16px;
}

.Box input{
  border: 2px solid #2E4057;
}

textarea{
  border: 2px solid #2E4057;
}

#Feedback{
  height: 8em;
}

.Box button{
  border: 2px solid #2E4057;
  width: 50%;
  margin: 6px;
  align-self: center;
}

.Newsletter{
  display: flex;
  background-color:#C7B65E;
  padding: 8px;
  border-radius: 8px;
}

.Newsletter button{
  margin-left: 8px;
}

footer{
  border-radius: 8px 8px 0px 0px;
}

#Footer{
  color:#C1CFD6;
  padding-left: 32px;
  padding-right: 32px;
}

.Social>h3{
  margin: 8px;
}

.Social{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C1CFD6;
}

.Social-Icons{
  margin: 0px 8px 0px 0px;
}

.Social-Icons span{
  padding-left: 16px;
}

.links{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font: 900 11px Arial, sans-serif
}

.links-1{
  display:flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.links-1 a{
  text-decoration: none;
  color:#C1CFD6
}

.links-2{
  display:flex;
  justify-content: space-around;
  margin-bottom: 8px;
}